# Activer le module de réécriture
RewriteEngine On

RewriteRule ^mentions-legales/?$ pages/mentions-legales.html [L]

RewriteRule ^politique-confidentialite/?$ pages/politique-confidentialite.html [L]

RewriteRule ^plan/?$ pages/plan.html [L]

RewriteRule ^accueil/?$ index.html [L]

RewriteRule ^portfolio/?$ pages/portfolio.html [L]

RewriteRule ^actus/?$ pages/actus.html [L]

RewriteRule ^contactez-moi/?$ pages/contact.html [L]
