header {
  height: 100vh;
  background: no-repeat url("../img/header.jpg") center/cover;
  color: rgb(249, 248, 255);
  position: relative;
}
header .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .center h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 20px;
}
header .center h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}
header .center p {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
header nav {
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header nav ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  position: relative;
}
header nav ul li:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(165, 198, 99);
  position: absolute;
  bottom: -5px;
  left: 0;
  animation: hoverUnderine 0.5s;
}
@keyframes hoverUnderine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

main {
  padding: 70px 0;
}
@media screen and (max-width: 630px) {
  main {
    padding: 0;
  }
}
main .presentation {
  padding: 50px 0;
}
main .presentation h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: rgb(13, 2, 96);
}
@media screen and (max-width: 630px) {
  main .presentation h2 {
    font-size: 1.5rem;
  }
}
main .presentation p {
  text-align: center;
}
main .presentation p,
main .presentation ul {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
}
@media screen and (max-width: 630px) {
  main .presentation p,
  main .presentation ul {
    font-size: 1rem;
    width: 100%;
  }
}
main .presentation li {
  padding-left: 50px;
  margin-bottom: 10px;
}
@media screen and (max-width: 630px) {
  main .presentation li {
    padding-left: 15px;
  }
}
main .presentation li:first-child {
  padding: 0;
  margin-bottom: 20px;
}
main .presentation li i {
  font-size: 0.5rem;
}
main .skills {
  margin: 70px 0;
}
main .skills .flex {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1230px) {
  main .skills .flex {
    flex-direction: column;
    height: 400px;
  }
}
@media screen and (max-width: 740px) {
  main .skills .flex {
    height: initial;
    gap: 100px;
  }
}
main .skills .flex .row-flex {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
@media screen and (max-width: 1230px) {
  main .skills .flex .row-flex {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 740px) {
  main .skills .flex .row-flex {
    gap: 50px;
  }
}
@media screen and (max-width: 740px) {
  main .skills .flex .row-flex {
    flex-direction: column;
  }
}
main .skills .flex .row-flex .column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .skills .flex .row-flex .column-flex i {
  color: rgb(13, 2, 96);
  font-size: 5rem;
}
@media screen and (max-width: 740px) {
  main .skills .flex .row-flex .column-flex i {
    font-size: 3rem;
  }
}
main .skills .flex .row-flex .column-flex span {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: oblique;
}
@media screen and (max-width: 740px) {
  main .skills .flex .row-flex .column-flex span {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
main .portfolio h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 2.5rem;
  color: rgb(13, 2, 96);
}
main .portfolio p {
  text-align: center;
  margin-bottom: 50px;
}
main .portfolio .projets-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media screen and (max-width: 1100px) {
  main .portfolio .projets-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 670px) {
  main .portfolio .projets-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .portfolio .projets-grid .card {
  width: 100%;
  height: 430px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: hidden;
}
@media screen and (max-width: 1650px) {
  main .portfolio .projets-grid .card {
    height: 500px;
  }
}
main .portfolio .projets-grid .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
main .portfolio .projets-grid .card .text-card {
  padding: 15px;
  text-align: center;
}
main .portfolio .projets-grid .card .text-card a {
  color: rgb(13, 2, 96);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
main .portfolio .projets-grid .card .text-card a:hover {
  text-decoration: underline;
}
main .portfolio .projets-grid .card .text-card p {
  text-align: left;
}
main .cv {
  text-align: center;
  padding-bottom: 30px;
}
main .cv h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: rgb(13, 2, 96);
}
main .cv img {
  display: block;
  margin: 15px auto 50px;
  width: 100%;
  max-width: max-content;
}
main .cv a {
  padding: 10px 7px;
  border-radius: 5px;
  background-color: rgb(13, 2, 96);
  color: rgb(243, 243, 252);
}
main .cv a:hover {
  background-color: rgb(22, 1, 182);
}

footer .footer-bottom {
  background-color: rgb(13, 2, 96);
  color: white;
  padding: 30px 50px;
}
footer .footer-bottom p {
  text-align: center;
}

.reseaux {
  font-size: 2rem;
}
.reseaux a {
  z-index: 300;
}
.reseaux .fa-linkedin {
  color: rgb(10, 102, 194);
  position: relative;
  z-index: 111;
}
.reseaux .fa-linkedin::after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: -10;
}
.reseaux .fa-square-github {
  color: black;
  position: relative;
  z-index: 112;
}
.reseaux .fa-square-github::after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: -10;
}

.contact-template header {
  background: no-repeat url("../img/pexels-goumbik-574070.jpg") center/cover;
}
@media screen and (max-width: 830px) {
  .contact-template header {
    height: 100%;
  }
}
.contact-template .contact {
  background: no-repeat url("../img/pexels-goumbik-574070.jpg") center/cover;
  height: 100%;
  width: 100%;
  padding: 50px 0px 100px;
}
.contact-template .contact h2 {
  margin: 40px;
  font-size: 2.5rem;
  color: rgb(13, 2, 96);
  text-align: center;
}
.contact-template .contact .column-30-70 {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.521);
  padding: 70px 50px;
  display: grid;
  grid-template-columns: 30% 70%;
  color: white;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .contact-template .contact .column-30-70 {
    display: block;
    padding: 30px;
  }
}
@media screen and (max-width: 370px) {
  .contact-template .contact .column-30-70 {
    padding: 15px;
  }
}
.contact-template .contact .left-part {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
}
@media screen and (max-width: 900px) {
  .contact-template .contact .left-part {
    position: relative;
    margin-bottom: 30px;
  }
  .contact-template .contact .left-part::after {
    content: "";
    height: 3px;
    width: 90%;
    background: rgb(114, 114, 117);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1080px) {
  .contact-template .contact .left-part {
    flex-direction: row;
  }
}
@media screen and (max-width: 900px) {
  .contact-template .contact .left-part {
    flex-direction: column;
    gap: 13px;
  }
}
@media screen and (max-width: 900px) {
  .contact-template .contact .left-part p {
    text-align: center;
  }
}
.contact-template .contact .left-part p a {
  color: rgb(196, 196, 196);
}
.contact-template .contact .left-part div {
  font-size: 2rem;
}
@media screen and (max-width: 900px) {
  .contact-template .contact .left-part div {
    text-align: center;
  }
}
.contact-template .contact .left-part div .fa-linkedin {
  color: rgb(10, 102, 194);
  position: relative;
  z-index: 1111;
}
.contact-template .contact .left-part div .fa-linkedin::after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: -10;
}
.contact-template .contact .left-part div .fa-square-github {
  color: black;
  position: relative;
  z-index: 112;
}
.contact-template .contact .left-part div .fa-square-github::after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: -10;
}
.contact-template .contact form .flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;
}
@media screen and (max-width: 645px) {
  .contact-template .contact form .flex {
    grid-template-columns: repeat(1, 1fr);
  }
}
.contact-template .contact form .flex-column {
  display: flex;
  flex-direction: column;
}
.contact-template .contact form input {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid rgb(13, 2, 96);
}
.contact-template .contact form textarea {
  resize: none;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid rgb(13, 2, 96);
  height: 150px;
  margin-bottom: 20px;
}
.contact-template .contact .submit-button {
  display: flex;
  justify-content: center;
}
.contact-template .contact .submit-button button {
  font-family: inherit;
  font-size: 20px;
  background: white;
  color: rgb(13, 2, 96);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(13, 2, 96);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin: 20px 0 0;
}
.contact-template .contact .submit-button button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.contact-template .contact .submit-button button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.contact-template .contact .submit-button button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.contact-template .contact .submit-button button:hover svg {
  transform: translateX(1.8em) rotate(45deg) scale(1.1);
}
.contact-template .contact .submit-button button:hover span {
  transform: translateX(5em);
}
.contact-template .contact .submit-button button:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

.msg-error-fixed {
  background-color: rgb(250, 179, 179);
  color: red;
  border: 1px solid red;
  border-radius: 15px;
  text-align: center;
  padding: 20px 50px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  animation: error 4s forwards;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .msg-error-fixed {
    top: 50%;
  }
}

@keyframes error {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.red {
  color: red;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nav-background {
  background-color: rgb(12, 1, 95);
}

.flex {
  display: flex;
}

.container {
  width: 63%;
  margin: 0 auto;
}
@media screen and (max-width: 1650px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 95%;
  }
}

.separation {
  width: 70px;
  height: 10px;
  margin: 30px auto;
  background-color: rgb(13, 2, 96);
  position: relative;
}
.separation::after {
  position: absolute;
  top: 3px;
  left: 50%;
  content: "";
  height: 4px;
  width: 90%;
  background-color: rgb(165, 198, 99);
  transform: translateX(-50%);
}

#portfolio,
#cv {
  transform: translateY(-80px);
}

#contact {
  transform: translateY(-288px);
}
@media screen and (max-width: 900px) {
  #contact {
    transform: translateY(-403px);
  }
}

.droits h2 {
  margin: 50px 0px 30px;
  color: rgb(13, 2, 96);
}
.droits h3 {
  margin: 30px 0px 15px;
  color: rgb(13, 2, 96);
}

.page-active {
  color: rgb(165, 198, 99);
  font-weight: bold;
  cursor: default;
}/*# sourceMappingURL=style.css.map */